<li class="separator acl-write"></li>

<li data-type="button" data-key="imageUpload" data-l10n-id="ep_images_extended.toolbar.image_upload.title">
  <a class="grouped-left ep_images_extended" data-align="0" data-l10n-id="ep_images_extended.toolbar.image_upload.title" title="Upload Image" aria-label="Upload Image">
    <button class="buttonicon ep_images_extended image_upload buttonicon-picture" data-align="0" aria-label="Upload Image"></button>
  </a>
</li>
